<?xml version="1.0"?>
<robot name="online_planning_example" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find ur_e_description)/urdf/ur10e_a_gripper.xacro"/>
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e_b_gripper.xacro"/>


  <link name="world" />
 
  <joint name="a_world_joint" type="fixed">
    <parent link="world" />
    <child link = "a_base_link" />  <!--"l_base_link" is follow the prefix setting.-->
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0" />
  </joint>
  
  <joint name="b_world_joint" type="fixed">
    <parent link="world" />
    <child link = "b_base_link" />  <!--"l_base_link" is follow the prefix setting.-->
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0" />
  </joint>
  
 
</robot>
